.header {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: #424242;
}

.header__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.408px;
  color: #41522e;
  margin: 0 -58px;
}

.header__logout-btn {
  display: flex;
  align-items: center;
  background-image: url('../../images/logout.svg');
  background-repeat: no-repeat;
  border: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
